<div class="max-w-3xl mx-auto p-6 bg-white shadow-lg rounded-xl mt-8">
  <h2 class="text-2xl font-bold mb-6 text-center">Add Staff</h2>

  <form [formGroup]="staffForm" (ngSubmit)="submit()" class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <!-- First Name -->
    <div>
      <label class="block mb-1 font-semibold" for="firstName">First Name</label>
      <input
        formControlName="firstName"
        id="firstName"
        type="text"
        class="w-full border rounded-md px-3 py-2"
      />
    </div>

    <!-- Last Name -->
    <div>
      <label class="block mb-1 font-semibold" for="lastName">Last Name</label>
      <input
        formControlName="lastName"
        id="lastName"
        type="text"
        class="w-full border rounded-md px-3 py-2"
      />
    </div>

    <!-- Email -->
    <div>
      <label class="block mb-1 font-semibold" for="email">Email</label>
      <input
        formControlName="email"
        id="email"
        type="email"
        class="w-full border rounded-md px-3 py-2"
      />
    </div>

    <!-- Phone -->
    <div>
      <label class="block mb-1 font-semibold" for="phone">Phone</label>
      <input
        formControlName="phone"
        id="phone"
        type="text"
        class="w-full border rounded-md px-3 py-2"
      />
    </div>

    <!-- Gender -->
    <div>
      <label class="block mb-1 font-semibold" for="gender">Gender</label>
      <select formControlName="gender" id="gender" class="w-full border rounded-md px-3 py-2">
        <option value="" disabled>Select Gender</option>
        <option>Male</option>
        <option>Female</option>
        <option>Other</option>
      </select>
    </div>

    <!-- DOB -->
    <div>
      <label class="block mb-1 font-semibold" for="dob">DOB</label>
      <input
        formControlName="dob"
        id="dob"
        type="date"
        class="w-full border rounded-md px-3 py-2"
      />
    </div>

    <!-- Job Title -->
    <div>
      <label class="block mb-1 font-semibold" for="jobTitle">Job Title</label>
      <select formControlName="jobTitle" id="jobTitle" class="w-full border rounded-md px-3 py-2">
        <option value="" disabled>Select Job Title</option>
        <option *ngFor="let job of jobTitles">{{ job }}</option>
      </select>
    </div>

    <!-- Staff Type -->
    <div>
      <label class="block mb-1 font-semibold" for="department">Departments</label>
      <select
        formControlName="department"
        id="department"
        class="w-full border rounded-md px-3 py-2"
      >
        <option value="" disabled>Select Departments</option>
        <option *ngFor="let department of departments">{{ department }}</option>
      </select>
    </div>
    <!-- Employee ID -->
    <div>
      <label class="block mb-1 font-semibold" for="employeeId">Employee ID</label>
      <input
        formControlName="employeeId"
        id="employeeId"
        type="text"
        class="w-full border rounded-md px-3 py-2"
      />
    </div>

    <!-- Salary -->
    <div>
      <label class="block mb-1 font-semibold" for="lastName">Salary(per year)</label>
      <input
        formControlName="salary"
        id="salary"
        type="number"
        class="w-full border rounded-md px-3 py-2"
      />
    </div>

    <!-- Address -->
    <div class="md:col-span-2">
      <label class="block mb-1 font-semibold" for="address">Address</label>
      <textarea
        formControlName="address"
        id="address"
        rows="2"
        class="w-full border rounded-md px-3 py-2"
      ></textarea>
    </div>

    <!-- Submit Button -->
    <div class="md:col-span-2 text-center mt-4 flex justify-center">
      <app-button type="submit" label="Add Staff" bg="bg-blue-600"></app-button>
    </div>
  </form>
</div>