<div class="container">

  <h2 class="title">Students List</h2>

  <div *ngIf="isLoading()">Loading...</div>
  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>

  <table *ngIf="students.length > 0" class="students-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Class</th>
        <th>Section</th>
        <th>Gender</th>
        <th>DOB</th>
        <th>Phone</th>
        <th>Father</th>
        <th>Mother</th>
        <th>Address</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let stu of students">
        <td>{{ stu.firstName }} {{ stu.lastName }}</td>
        <td>{{ stu.email }}</td>
        <td>{{ stu.class }}</td>
        <td>{{ stu.section }}</td>
        <td>{{ stu.gender }}</td>
        <td>{{ stu.dob }}</td>
        <td>{{ stu.phone }}</td>
        <td>{{ stu.fatherName }}</td>
        <td>{{ stu.motherName }}</td>
        <td>{{ stu.address }}</td>
        <td>
        <div>
          <button 
            type="button" 
            (click)="openEditModal(stu)"
            class="px-4 py-2 rounded bg-blue-300 hover:bg-blue-400"
            >
            Edit
            </button>
        </div>
        <div>
           <button 
            type="button" 
            (click)="deleteStudent(stu._id)"
            class="px-4 py-2 rounded bg-red-300 hover:bg-red-400 mt-1"
            >
            Delete
            </button>
        </div>
      </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="students.length === 0 && !isLoading">
    No students found.
  </div>

  <!-- ===================== Edit Modal Box ===================== -->
<div 
  class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50" 
  *ngIf="showModal()"
>
  <div class="bg-white rounded-lg shadow-lg w-full max-w-lg p-6 relative">
    <h2 class="text-2xl font-semibold mb-4">Edit Student</h2>
    <button 
      class="absolute top-4 right-4 text-gray-500 hover:text-gray-800" 
      (click)="closeModal()"
    >
      ✕
    </button>

    <form [formGroup]="editForm" class="space-y-4">

      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <div>
          <label for="firstName" class="block text-gray-700">First Name</label>
          <input 
            type="text" 
            formControlName="firstName" 
            id="firstName"
            class="w-full px-3 py-2 border rounded focus:outline-none focus:ring focus:ring-blue-300"
          >
        </div>

        <div>
          <label for="lastName" class="block text-gray-700">Last Name</label>
          <input 
            type="text" 
            formControlName="lastName" 
            id="lastName"
            class="w-full px-3 py-2 border rounded focus:outline-none focus:ring focus:ring-blue-300"
          >
        </div>

         <div>
          <label for="lastName" class="block text-gray-700">Email</label>
          <input 
            type="email" 
            formControlName="email" 
            id="email"
            class="w-full px-3 py-2 border rounded focus:outline-none focus:ring focus:ring-blue-300"
          >
        </div>

        <div>
        <label class="block text-sm font-medium mb-1" for="Class">Class</label>
        <select 
          formControlName="class"
          class="w-full border border-gray-300 rounded-lg px-3 py-2 focus:ring-2 focus:ring-blue-500"
        >
          <option value="">Select Class</option>
          <option value="1st Standard">1st Standard</option>
          <option value="2nd Standard">2nd Standard</option>
          <option value="3rd Standard">3rd Standard</option>
          <option value="4th Standard">4th Standard</option>
          <option value="5th Standard">5th Standard</option>
          <option value="6th Standard">6th Standard</option>
          <option value="7th Standard">7th Standard</option>
          <option value="8th Standard">8th Standard</option>
          <option value="9th Standard">9th Standard</option>
          <option value="10th Standard">10th Standard</option>
          <option value="11th Standard">11th Standard</option>
          <option value="12th Standard">12th Standard</option>
        </select>
      </div>

      <!-- Section -->
      <div>
        <label class="block text-sm font-medium mb-1" for="section">Section</label>
        <select 
          formControlName="section"
          class="w-full border border-gray-300 rounded-lg px-3 py-2 focus:ring-2 focus:ring-blue-500"
        >
          <option value="">Select Section</option>
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
          <option value="D">D</option>
        </select>
      </div>
         <div>
        <label class="block text-sm font-medium mb-1" for="gender">Gender</label>
        <select 
          formControlName="gender"
          id="gender"
          class="w-full border border-gray-300 rounded-lg px-3 py-2 focus:ring-2 focus:ring-blue-500"
        >
          <option value="">Select Gender</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Other">Other</option>
        </select>
      </div>

        <div>
          <label for="phone" class="block text-gray-700">Phone</label>
          <input 
            type="text" 
            formControlName="phone" 
            id="phone"
            class="w-full px-3 py-2 border rounded focus:outline-none focus:ring focus:ring-blue-300"
          >
        </div>

        <div>
          <label for="dob" class="block text-gray-700">DOB</label>
          <input 
            type="date" 
            formControlName="dob" 
            id="dob"
            class="w-full px-3 py-2 border rounded focus:outline-none focus:ring focus:ring-blue-300"
          >
        </div>

        <div>
          <label for="fatherName" class="block text-gray-700">Father Name</label>
          <input 
            type="text" 
            formControlName="fatherName" 
            id="fatherName"
            class="w-full px-3 py-2 border rounded focus:outline-none focus:ring focus:ring-blue-300"
          >
        </div>

        <div>
          <label for="motherName" class="block text-gray-700">Mother Name</label>
          <input 
            type="text" 
            formControlName="motherName" 
            id="motherName"
            class="w-full px-3 py-2 border rounded focus:outline-none focus:ring focus:ring-blue-300"
          >
        </div>
         <div class="w-full">
            <label for="address" class="block text-gray-700">Address</label>
            <textarea id="address" rows="3" formControlName="address"
            class="w-full border rounded-lg px-4 py-2 focus:ring focus:ring-purple-300"
            placeholder="Enter address"></textarea>
        </div>
      </div>

      <!-- Actions -->
      <div class="flex justify-end space-x-2 mt-4">
        <button 
          type="button" 
          (click)="closeModal()" 
          class="px-4 py-2 rounded bg-gray-300 hover:bg-gray-400"
        >
          Cancel
        </button>
        <button 
          type="button" 
          (click)="updateStudent()" 
          class="px-4 py-2 rounded bg-blue-600 text-white hover:bg-blue-700"
        >
          Update
        </button>
      </div>
    </form>
  </div>
</div>


</div>
